.title-card {
  background-color: grey;
  border: 2px solid black;
}

.title-collapse {
  background-color: white;
}

.container-counter {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
